*{margin:0;
  padding: 0;
 box-sizing: border-box;}
 
.flex{display: flex;}

.btn-contato button{
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #C72C41;
  cursor: pointer;
  border:0;
  border-radius:30px ;
  transform: .2;
  
}

body {
    background: linear-gradient(to right, #FFD700, #C72C41);
    height:100vh ;
}
.menu-container{
 max-width: 1280px;
 margin:0 auto;}

header{padding: 40px 4%;}

header > .menu-container{display: flex;
align-items:center;
justify-content: space-between;
}

header a{color: black;
text-decoration: none;
display: inline-block;}

header a:hover{color: rgb(241, 241, 241);
transform: scale(1.5);}

header nav ul{list-style-type: none;}
header nav ul li{display:inline-block;
padding:0 40px}

header .btn-contato button{
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #C72C41;
  cursor: pointer;
  border:0;
  border-radius:30px ;
}
header .btn-contato button:hover{box-shadow:0px 0px 8px #c72c4133;}


#LA{color: rgb(2, 85, 158);}

#blue{
  color: rgb(0, 77, 128);
}

#VM{color: blue;}

/* top do portifolio*/
section.Top_site{
  padding: 40px 4%;

}

section.Top_site.flex{
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.interface h1{color: #af2121;;
  font-size: 40px;
  line-height: 40px;
  gap: 100px;
  margin:20px 0;
}
.txt-top-site h1 span{color: rgba(0, 255, 85, 0.897);
}

.txt-top-site p{ color: black;
gap: 40px;
font-size: 25px}

.img-top-site img{position: relative;
animation: flutão 2s ease-in-out infinite alternate;
}


@keyframes flutão{0%{top: 0;}100%{top: 30px;}}