*{margin:0;
  padding: 0;
 box-sizing: border-box;}
 
.flex{display: flex;}

.btn-contato button{
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #C72C41;
  cursor: pointer;
  border:0;
  border-radius:30px ;
  transform: .2;
  

}
h2.titulo{color: black;
  font-size: 38px;
 text-align: center;}

body {
 background: linear-gradient(to right, #FFD700, #C72C41);
 height:100vh ;
}
.menu-container{
 max-width: 1280px;
 margin:0 auto;}

header{padding: 40px 4%;}

header > .menu-container{display: flex;
align-items:center;
justify-content: space-between;
}


header a{color: black;
text-decoration: none;
display: inline-block;}

header a:hover{color: rgb(241, 241, 241);
transform: scale(1.5);}

header nav ul{list-style-type: none;}
header nav ul li{display:inline-block;
padding:0 40px}

.btn-contato button:hover{box-shadow:0px 0px 8px #c2061fee;
  transform: scale(1.05);
}


#LA{color: rgb(2, 85, 158);}

#blue{
  color: rgb(0, 77, 128);
}

#VM{color: blue;}

/* top do portifolio*/
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



section.Top_site{
  padding: 40px 4%;

}


.interface h1 {
  color: black;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 20px 0;
}

.txt-top-site p {
  color: black;
  font-size: 1.2rem;
}

.interface h1 {
  color: black;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 20px 0;
}

.txt-top-site p {
  color: black;
  font-size: 1.2rem;
}


.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; }

.img-top-site img {
  max-width: 400px;
  width: 100%;
  height: auto;
  position: relative;
  animation: flutao 2s ease-in-out infinite alternate;
}



@keyframes flutao {
  from { top: 0; }
  to { top: 30px; }
}

.Cursos-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.Cursos-item{ display: flex;
  align-items: center;
  justify-items: end;
  gap: 20px;

 }

.section.Cursos.flex{gap:50px;
}

.section .Cursos{
  padding: 80px 3%;
}

.Cursos .Cursos-box:hover{transform: scale(1.05);
box-shadow: 0 0px;}



.Cursos .Cursos-box{color: rgb(2, 2, 22);
border:5px solid #000000;
padding: 50px 3%;
font-size: 40px;
margin-top: 25px;
border-radius: 20px;
transition: .2;

}

.Cursos-box i {color: rgba(48, 37, 194, 0.966);
font-size: 80px;}

.Cursos.Cursos-box h3{font-size: 50px;
margin: 15px 0;}

/*fomulario*/
.Formulario {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #FFD700, #C72C41);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label{
  font-weight: bold;
}

input{
  width: 100%;
  padding: 10px;
  margin: 8px 0 18px 0;
  border: 1px solid #800707;
  border-radius: 5px;
}

button{
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #45a049;
}

.erro{
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

